/* Normalize */
*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Global styles */
html {
    font-size: 62.5%;
    color: black;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

h2{
    font-size: 2em;
}

/* Navbar styles */
.container-navbar{
    top: 0;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 1rem 4rem;
    margin: 0 auto;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.108);
}

.logo{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.img-logo{
    width: 4rem;
}

.menu{
    display:flex;
    align-items: center;
}

.lista-menu{
    display:flex;
    flex-direction: row;
    gap: 2.5rem;
    font-size: 1.6em;
}

.item-menu-li{
    padding-top: 1.5rem;
}

.item-menu-li :hover {
    color: rgb(214, 214, 214);
    transition: ease-in-out 0.3s;
}

.img-shop{
    align-items: center;
    width: 5rem;
}

/* ItemCount styles */
.counter{
    display: flex;
    flex-direction: row;
    padding-top: 4rem;
    padding-bottom: 1rem;
    gap: 1rem;
    margin-left: 3rem;
}

.counter-number{
    padding: 0.5rem 1rem;
    border: solid black 0.1rem;
}

.add-subtract{
    padding: 0.5rem 1rem;
}

.add-to-cart{
    padding: 1rem ;
    border: solid black 0.1rem;
    background-color: white;
    cursor: pointer;
    margin-left: 3rem;
}

/* Item styles */
.img-dress{
    width: 30rem;
    
}



